:root {
	--font-family-serif: "EB Garamond", serif;
	--font-family-sans: "Nunito Sans", -apple-system, BlinkMacSystemFont,
		system-ui, sans-serif;
	--font-family-mono: "MonoLisa", Inconsolata, monospace;
	
	--base-light-color: #F6F5F5;
	--base-dark-color: #181616;
	--base-accent-color: #C0A36E;
}
