@font-face {
    font-family: "JunicodeVF";
    src: url("public/fonts/JunicodeVF-Roman.woff2");
}

:root {
	--font-family-header: "Junicode", serif;
	--font-family-body: "Junicode", serif;
	--font-family-mono: "MonoLisa", Inconsolata, monospace;
	
	--base-light-color: #F6F5F5;
	--base-dark-color: #181616;
	--base-accent-color: #C0A36E;
}
