@font-face {
    font-family: "Lora";
    src: url("/fonts/Lora-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	src: url("/fonts/Lora-Italic-VariableFont_wght.ttf");
}

:root {
	--font-family-header: "Lora", serif;
	--font-family-body: "Lora", serif;
	--font-family-mono: "MonoLisa", Inconsolata, monospace;
	
	--base-light-color: #F6F5F5;
	--base-dark-color: #181616;
	--base-accent-color: #C0A36E;
}
